.envrc
services/**/env/**/.terraform/
services/**/env/**/terraform.tfstate
services/**/env/**/terraform.tfstate.backup
services/**/env/**/plan
services/**/backup/database/*
services/**/backup/account/*
ssh/*-ssh-key*
crash.log
*.backup
inventory
playbook.retry
credentials.json
.idea/
temp/
*.retry
!services/**/backup/database/.gitkeep
!services/**/backup/account/.gitkeep
